UseColor: true

# Cast the net wide: select all checks that are not obviously irrelevant.
# Do not use comments in the middle of the list.
Checks: >
    abseil-*,
    boost-*,
    bugprone-*,
    cert-*,
    clang-analyzer-*,
    concurrency-*,
    cppcoreguidelines-*,
    google-*,
    hicpp-*,
    linuxkernel-*,
    llvm-*,
    misc-*,
    modernize-*,
    mpi-*,
    performance-*,
    portability-*,
    -portability-avoid-pragma-once,
    readability-*,
    -modernize-use-trailing-return-type,
    -llvm-header-guard,
    -misc-include-cleaner,

ExtraArgs:
    - -Wno-pragma-once-outside-header

# TODO add info on how to ignore errors.
WarningsAsErrors: "*"